#!/bin/sh

set -e

echo 'Update IP whitelist ...'

curl -L 'http://ftp.apnic.net/apnic/stats/apnic/delegated-apnic-latest' -o {{ COMMON_TMP_DIR }}/chinadns_chnroute.txt

if [ ! -f {{ COMMON_CFG_DIR }}/chinadns_chnroute.old -a -f {{ COMMON_CFG_DIR }}/chinadns_chnroute.txt ]; then
    mv {{ COMMON_CFG_DIR }}/chinadns_chnroute.txt {{ COMMON_CFG_DIR }}/chinadns_chnroute.old
fi

cat {{ COMMON_TMP_DIR }}/chinadns_chnroute.txt | awk -F\| '/CN\|ipv4/ { printf("%s/%d\n", $4, 32-log($5)/log(2)) }' > {{ COMMON_CFG_DIR }}/chinadns_chnroute.txt

echo 'Update IP whitelist done.'

exit 0
