#!/usr/bin/env python
# -*- coding: utf-8 -*-

from urlparse import urlparse

from subprocess import check_output, CalledProcessError


def update():
    result = []
    with open('{{ SSR_SUBSCRIBES_LIST_FILE }}') as f:
        subs = f.readlines()

    for sub in subs:
        url = sub.strip()
        try:
            output = check_output('curl -L {}'.format(url), shell=True)
            with open('{{ SSR_SUBSCRIBES_DIR }}/{}'.format(urlparse(url).hostname), 'wb') as f:
                f.write(output)
        except CalledProcessError:
            pass

    return result


if __name__ == '__main__':
    update()
