#!/bin/sh

if [ "$1" = "/tmp/mnt/sda1" ] ; then
    ln -nsf $1/entware /tmp/opt
fi

# Turn On Usage Of Swapfile
if [ -f "/tmp/mnt/sda1/swapfile" ];then
    swapon /tmp/mnt/sda1/swapfile
    echo "Turning Swapfile On"
f
