#!/bin/sh

ENABLED=yes
PROCS=stubby
ARGS="-C {{ STUBBY_CFG_FILE }} -v 6 -g"
PREARGS=""
DESC=
PATH=/opt/sbin:/opt/bin:/opt/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

. /opt/etc/init.d/rc.func
