# Note: by default on OpenWRT stubby configuration is handled via
# the UCI system and the file /etc/config/stubby. If you want to
# use this file to configure stubby, then set "option manual '1'"
# in /etc/config/stubby.

resolution_type: GETDNS_RESOLUTION_STUB
round_robin_upstreams: 1
appdata_dir: "{{ STUBBY_DATA_DIR }}"
tls_authentication: GETDNS_AUTHENTICATION_REQUIRED
tls_query_padding_blocksize: 128
edns_client_subnet_private: 1
idle_timeout: 10000
listen_addresses:
  - 127.0.0.1@{{ STUBBY_PORT }}
  - 0::1@{{ STUBBY_PORT }}
dns_transport_list:
  - GETDNS_TRANSPORT_TLS
upstream_recursive_servers:
{% for provider in STUBBY_DNS_PROVIDERS %}
  - address_data: {{ provider.address }}
    tls_auth_name: "{{ provider.name }}"
{% endfor %}
