#!/usr/bin/env python
# -*- coding: utf-8 -*-

from urlparse import urlparse

from subprocess import check_output, CalledProcessError


def update():
    urls = {{ DNSMASQ_WHITELIST_URLS }}

    for u in urls:
        try:
            output = check_output('curl -L {}'.format(u['url']), shell=True)
            with open('{{ DNSMASQ_EXTRA_CFG_DIR }}/{}.conf'.format(u['name']), 'wb') as f:
                f.write(output)
        except CalledProcessError:
            pass



if __name__ == '__main__':
    update()
