#!/bin/sh

ENABLED=yes
PROCS=dnsmasq
ARGS="-C {{ DNSMASQ_CFG_FILE }}"
PREARGS=""
DESC=
PATH=/opt/sbin:/opt/bin:/opt/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

. {{ COMMON_INITD_DIR }}/rc.func
