#!/usr/bin/env python
# -*- coding: utf-8 -*-

from subprocess import check_output, CalledProcessError


def update():
    urls = {{ DNSMASQ_WHITELIST_URLS }}

    for u in urls:
        try:
            output = check_output(f"curl -L {u['url']}", shell=True)
            with open(f"{{ DNSMASQ_EXTRA_CFG_DIR }}/{u['name']}.conf", 'wb') as f:
                f.write(output)
        except CalledProcessError:
            pass
    check_output('{{ DNSMASQ_INITD_FILE }} restart', shell=True)



if __name__ == '__main__':
    update()
